<!DOCTYPE html> <html> <head><title>Library App</title> <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheets" href="bootstrap.css">
  <link rel="stylesheets" href="bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'> <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> <%= csrf_meta_tags %> <%= javascript_include_tag "vendor/modernizr" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <div class="logout">

    <% if logged_in? %>
        <a href="/session/logout"><p>Logout</p></a>
    <%end%>

    <% if admin_logged_in? %>
        <a href="/dashboard/admin_logout"><p>Logout</p></a>
    <% end %>
    </div>

    <%= yield %>


</body>
</html>