<table summary="Book Form Fields">
  <tr>
   <th><%= f.label(:title,"Title") %></th>
   <td><%= f.text_field(:title) %></td>
  </tr>
  <tr>
   <th><%= f.label(:author, "Author") %></th>
   <td><%= f.text_field(:author) %></td>
  </tr>
  <tr>
   <th><%= f.label(:genre, "Genre") %></th>
   <td><%= f.text_field(:genre) %></td>
  </tr>
 </table>