<div class="user_name">
  <%= @user.email %>
</div>


<div class ="book_details">
  <h5> <%= @book.title %> </h5>
  <h5> <%= @book.author %> </h5>
  <h5> <%= @book.genre %> </h5>
  <%= show_dates %>  
</div>

<div class="dropdown">
    <a href="#" class="button success" data-options="align:left" data-dropdown="drop">Your Books &raquo;</a>
      <ul id="drop" class="large f-dropdown" data-dropdown-content>
        <% if @user_checkouts.length == 0 %>
          <li>You have no books currently checked out</li>
        <%else%>
          <% @user_checkouts.each do |checkout| %>
            <li><%= link_to 'View Details', book_path(checkout.id) %><strong><%= checkout.title %></strong></li>
          <%end%>
        <%end%>  
      </ul>
</div>




<div class="checkout_button">
  <% if @user_checkouts.length > 0 %>
   <% @user_checkouts.each do |checkout|%>
      <% if checkout.id == @user.id %>
        <button class="button button-block" /> <%= link_to "Checkin",checkin_path(@book) %></button>
      <%elsif @book.checked_out? %>
        <button class="button button-block"  disabled />This book is currently checked out</button>
      <%else%>
        <button class="button button-block" /> <%= link_to "Checkin",checkout_path(@book) %></button>
      <%end%>
    <%end%> 
  <%else%>
    <button class="button button-block" /> <%= link_to "Checkout",checkout_path(@book) %></button>
  <%end%>
</div>











