<div class="user_name">
  <%= @user.email %>
</div>


<div class ="book_details">
  <h5> <%= @book.title  %> </h5>
  <h5> <%= @book.author %> </h5>
  <h5> <%= @book.genre  %> </h5>
  <h5> <%= show_dates   %> </h5>
</div>

<%= render partial: "checkouts" %>


<div class="good_reads">
  
<% good_reads_data(@book_id) %>
<%= formatted_string %>
<br>
<%= rating %>

</div>




<div class="checkout_button">
  <% if @book.checked_out? == true %>
      <% if @user_checkouts.length > 0 %>
        <button class="button button-block" /> <%= link_to "Checkin",checkin_path(@book) %></button>
      <%else %>
        <button class="button button-block"  disabled />This book is currently checked out</button>
      <%end%> 
  <%else%>
    <button class="button button-block" /> <%= link_to "Checkout",checkout_path(@book) %></button>
  <%end%>
</div>











