<p>Hello, <%=current_user.username%></p>



    <% @books.each do |book| %>
      <div class="pricing-table" ></div>
        <ul class="pricing-table">
          <li class="title"> <%=book.title %>    </li>
          <li class="price"> <%=book.author %>   </li>
          <li class="description"> <%=book.genre %>  </li>
          <li class="bullet-item"> <%=book.checked_out? %>    </li>
          <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
          </ul>
    <% end %>