<div class="user_name">
  <%= @user.email %>
</div>

<div>
  <h1> <%= @book.title %> </h1>
  <h2> <%= @book.author %> </h2><br>
  <h3> <%= @book.genre %> </h3><br>
</div>

<div class="one_book">
 <%= image_tag("book.jpg")%>
</div>


<div class="dropdown_show">
 <a data-dropdown="drop1" class="button"aria-controls="drop1" aria-expanded="false">Your Books</a>
 <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
  <li><a href="#">This is a link</a></li>
  <li><a href="#">This is another</a></li>
  <li><a href="#">Yet another</a></li>
</ul>
</div>  





<div class="checkout_button">
	<%= form_for(:checkout, :url => {:controller => 'checkout', :action => 'new_checkout'}) do |f|%>
		<%=%>
		<%=%>
		<% flash.each do |name, msg| %>
        	<%= content_tag :div, msg, class: name %>
        <% end %>
        <% if @book.checked_out? == true %>
        	<button class="button button-block"  disabled />This book is currently checked out</button>
        <%else%>
        	<button class="button button-block"/>Checkout</button>
        <%end%>	
    <% end %>
    </form>
</div>
