<div class="user_name">
  <%= @user.email %>
</div>

<div>
  <h1> <%= @book.title %> </h1>
  <h2> <%= @book.author %> </h2><br>
  <h3> <%= @book.genre %> </h3><br>
</div>

<div class="one_book">
 <%= image_tag("book.jpg")%>
</div>


<% @user_checkouts.each do |checkout| %>
  <div class="dropdown">
  <a data-dropdown="drop1" class="button success"aria-controls="drop1" aria-expanded="false">Your Books</a>
  <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
    <%= link_to book_path do %>
      <strong><%= checkout.book.title %></strong> -- <span>View Details</span>
    <% end %>
  </ul>
  </div>  
<%end%>






<div class="checkout_button">
	<%= form_for(:checkout, :url => {:controller => 'checkout', :action => 'new_checkout'}) do |f|%>
		<%=%>
		<%=%>
		<% flash.each do |name, msg| %>
        	<%= content_tag :div, msg, class: name %>
        <% end %>
        <% if @book.checked_out? == true %>
        	<button class="button button-block"  disabled />This book is currently checked out</button>
        <%else%>
        	<button class="button button-block"/>Checkout</button>
        <%end%>	
    <% end %>
    </form>
</div>
